body {
    margin: 0%;
    padding: 0%;

    background-color: #252422;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    overflow-x: hidden;
    overflow-y: auto;

    font-size: 1.5rem;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.Logo {
    width: 45px;
    height: 45px;
    position: fixed;

    left: 0;
    top: 0;

    padding: .2%;
}

a:link, a:visited {
    color: inherit;
    text-decoration: inherit;
}

#Top {
    position: fixed;

    background-color: #403d39;
    padding-top: .5%;
    padding-bottom: .5%;

    width: 100vw;
    height: min-content;

    top: 0;
    text-align: center;
    z-index: 5;
}
#Top a {
    position: relative;

    padding-left: .5%;
    padding-right: .5%;

    width: fit-content;
    height: auto;

    font-size: 2rem;
}

#Middle {
    position: relative;

    width: 80vw;
    height: 82vh;

    margin-inline: auto;

    top: 5vh;
    text-align: center;
}
#Middle h1{
    font-size: 3rem;

    margin-top: 1.5%;
    margin-bottom: .5%;
}
#Middle p{
    margin: 0%;
    padding-bottom: 2.5%;
    font-size: 1.6rem;
}
#Middle a{
    margin: 2.5%;
}

#ImageShowcase {
    position: relative;
}
#ImageShowcase img{
    width: 80vw;
    height: auto;
    border-radius: .6%;
}

#Bottom {
    position: fixed;
    background-color: #403d39;

    width: 100vw;
    height: min-content;

    bottom: 0;
    text-align: center;
    z-index: 5;
}
#Bottom a {
    position: relative;

    padding-left: .3%;
    padding-right: .3%;

    width: fit-content;
    height: auto;
}

#ReviewCard {
    position: relative;
    padding-top: 5%;

    bottom: 0;
}

.line {
    background-color: white;
    width: 75vw;
    height: .1vh;

    margin-inline: auto;

    margin-bottom: 2%;
    margin-top: 0%;
}

#PlaceDescription {
    margin-top: 2.5%;

    width: fit-content;

    text-align: center;
    padding-top: 2%;
}