body {
    margin: 0%;
    padding: 0%;

    background-color: #252422;
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

    overflow-x: hidden;
    overflow-y: auto;

    font-size: 1.5rem;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.Logo {
    width: 45px;
    height: 45px;
    position: fixed;

    left: 0;
    top: 0;

    padding: .2%;
}
.Logo2 {
    width: 260px;
    height: auto;
    position: relative;
}

a:link, a:visited {
    color: inherit;
    text-decoration: inherit;
}

#Top {
    position: fixed;

    background-color: #403d39;
    padding-top: .5%;
    padding-bottom: .5%;

    width: 100vw;
    height: min-content;

    top: 0;
    text-align: center;
    z-index: 5;
}
#Top a {
    position: relative;

    padding-left: .5%;
    padding-right: .5%;

    width: fit-content;
    height: auto;

    font-size: 2rem;
}

#Middle {
    position: relative;

    width: 80vw;
    height: 120vh;

    margin-inline: auto;

    top: 10vh;
    text-align: center;
}
#Middle p{
    position: relative;
    font-size: 1.6rem;
}
#Middle a{
    color: rgb(95, 139, 206);
}

#Bottom {
    position: fixed;
    background-color: #403d39;

    width: 100vw;
    height: min-content;

    bottom: 0;
    text-align: center;
    z-index: 5;
}
#Bottom a {
    position: relative;

    padding-left: .3%;
    padding-right: .3%;

    width: fit-content;
    height: auto;
}